@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}
ul {
  list-style: none;
}
/* Make images easier to work with */
img, picture {
  max-width: 100%;
  display: block;
}

/* Utility classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem)
}
.grid {
  display: grid;
  gap: var(--gap, 1rem)
}
.container {
  /* Left and right padding */
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}
.button {
  padding: 1rem;
  color: #4F359B;
  background-color: #E7E4F2;
  border-radius: 5px;
  font-size: 1.6rem;
  text-decoration: none;
}

/* Nav styles */
nav {
  background-color: #3D3D55;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: 150px;
  margin-bottom: -1em;
  margin-top: -1em;
}
.nav__list {
    width: 12rem;
    height: 100vh;
    background-color: #3D3D55;
    border: 1px solid whitesmoke;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: right 650ms ease-in-out;
}
.nav__item {
  margin: 2rem 0;
}
.nav__link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__list.active {
  right: 0;
}

.menu-icons i {
  font-size: 3rem;
  color:white;
  cursor: pointer;
  margin-right: 1em;
}
/* Menu opening and closing */
.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

/* Hero Styles */
body {
  background-color: #3D3D55;
}
h1 {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
hr {
  margin-bottom: 3rem;
}
.hero {
  margin-top: 5em;
  min-height: 90vh;
  padding: 1em;
  text-align: center;
}
.hero h1 {
  margin-bottom: 2rem;
  color: whitesmoke;
  font-weight: 700;
}